<div class="book__page book__page--1">
  <%= image_tag 'dice-mobile.png' %>
</div>

<div class="book__page book__page--4">
  <div class="page__content">
        <div class="content-image">
          <%= image_tag 'Level6.jpg'%>
        </div>
        <div class="page__number">40</div>
  </div>
</div>

