<div class="book__page book__page--1">
  <%= image_tag 'dice-mobile.png' %>
</div>

<div class="book__page book__page--4">
    <div class="content-image">
      <%= image_tag 'dice-warrior.jpg'%>
    </div></div>

