<div class="book__page book__page--1">
  <%= image_tag 'dice-mobile.png' %>
</div>

<div class="book__page book__page--4">
  <div class="page__content">
    <h1 class="page__content-title">I</h1>
    <div class="page__content-blockquote">
      <p class="page__content-blockquote-text">The approaches described in this book are neither universal truths nor scientific facts.
      They are merely transcripts of some of my mental gimmicks, which are intended to inspire us to perceive the world as a multi-perspective entity in order to broaden our horizons and recognize a greater truth in this experience.</p>
      <span class="page__content-blockquote-reference">Encyclopedia Galactica*</span>
    </div>
    <div class="page__content-text">
      <p>“This is my part of the world knowledge puzzle. It is a manifesto for love and peace and an invitation to experience stories and share them with our fellow human beings in order to grow together. For the good of all of us and for the good of our family, humanity.”</p>      </div>
    <div class="page__number">3</div>
  </div>
</div>

