<div class="book__page book__page--1">
  <%= image_tag 'titelbild.jpg' %>
</div>

<div class="book__page book__page--4">
    <div class="content-image">
      <%= image_tag 'würfelkriegerin.jpg'%>
    </div></div>

