<div class="book__page book__page-sheets" id="sheet-2">
    <div class="book__page-front" id="page-4">
      <div class="page__content">
        <h1 class="page__content-book-title">second page</h1>
        <h2 class="page__content-author">Daniela Zimmermann</h2>

        <p class="page__content-credits">
          A Manifesto
          <span>for Love and Peace</span>
                  <%= image_tag 'logo.png'%>
        </p>


        <div class="page__content-copyright">
          <p>Practice for</p>
          <p>being HUMAN</p>
        </div>
      </div>
    </div>
    <div class="book__page-back" id="page-5">
      <div class="page__content">
        <h1 class="page__content-title">Contents 2</h1>
        <table class="page__content-table">
          <tr>
          <td align="left">Introduction</td><td align="right">5</td>
          </tr>
          <tr>
          <td align="left">Let's turn the DICE</td><td align="right">6</td>
          </tr>
          <tr>
          <td align="left">Groups devide, being human unites</td><td align="right">14</td>
          </tr>
          <tr>
          <td align="left">This is a Game and i want you to play along</td><td align="right">17</td>
          </tr>
          <tr>
          <td align="left">This Game just has one rule</td><td align="right">17</td>
          </tr>
          <tr>
          <td align="left">7 Levels and 7 Principles</td><td align="right">18</td>
          </tr>
          <tr>
          <td align="left">Level 1 Roots</td><td align="right">20</td>
          </tr>
          <tr>
          <td align="left">Level 2 Emotions</td><td align="right">22</td>
          </tr>
          <tr>
          <td align="left">Level 3 Actions</td><td align="right">24</td>
          </tr>
          <tr>
           <td align="left">Level 4 Love</td><td align="right">26</td>
          </tr>
          <tr>
          <td align="left">Level 5 Expression</td><td align="right">28</td>
          </tr>
          <tr>
          <td align="left">Level 6 Intuition</td><td align="right">30</td>
          </tr>
          <tr>
          <td align="left">Level 7 Connection</td><td align="right">32</td>
          </tr>
          <tr>
           <td align="left">Why am I telling you about this game</td><td align="right">36</td>
          </tr>
        </table>

        <div class="page__number">2</div>
      </div>
    </div>
  </div>
