<div class="book__page book__page-sheets" id="sheet-1">
    <div class="book__page-front" id="page-2">
      <div class="page__content">
        <h1 class="page__content-book-title">Let's turn the DICE</h1>
        <h2 class="page__content-author">Daniela Zimmermann</h2>

        <p class="page__content-credits">
          A Manifesto
          <span>for Love and Peace</span>
                  <%= image_tag 'logo.png'%>
        </p>


        <div class="page__content-copyright">
          <p>Practice for</p>
          <p>being HUMAN</p>
        </div>
      </div>
    </div>
    <div class="book__page-back" id="page-3">
      <div class="page__content">
        <p style="padding-top: 80%">
          Umschlag Gestaltung/Illustration: Daniela Zimmermann
          Druck und Bindung: www.onlineprinters.ch
          Das Werk, einschliesslich seiner Teile, ist urheberrecht-
          lich geschützt. Jede kommerzielle Verwertung ist ohne Zu-
          stimmung der Autorin unzulässig. Dies gilt insbesondere
          für die elektronische oder sonstige Vervielfältigung, Über-
          setzung, Verbreitung und öffentliche Zugänglichmachung,
          die im Zusammenhang mit der finanziellen Bereicherung
          einer am Schaffensprozess unbeteiligten Drittperson
          steht. Das private, uneigennützige und unentgeltliche Tei-
          len zwischen Mitmenschen ist jedoch erlaubt, erwünscht
          und ganz im Sinne der Philosophie der Autorin jedem
          herzlich zu empfehlen.
          © 2019 Daniela Zimmermann
        </p>
        <div class="page__number">2</div>
      </div>
    </div>
  </div>
