<h1><%= t('hello') %></h1>

<ul class="language-bar">
  <li class="language" id="en"><%= link_to "EN", controller: controller_name, action: action_name, locale: "en"  %></li>
  <li class="language" id="de"><%= link_to "DE", controller: controller_name, action: action_name, locale: "de"  %></li>
</ul>
