.language-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  list-style: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow:  -0.1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 200;
  &:hover {
    cursor: pointer;
  }
}

.language-bar.active {
  display: none;
}

.language-bar a {
  text-decoration: none;
  color: #16425b;
  font-size: 20px;
  display: flex;
  width: 58px;
  height: 60px;
  align-items: center;
  justify-content: center;
  &:hover {
  background-color: rgba(255, 255, 255, 0.5);
  //background-color: rgba(237, 212, 0, 0.7);
  border-radius: 4px;
  }
}

.language-choice,
#open-language-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(199, 236, 68, 0.7);
  width: 60px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.language-choice {
  position: absolute;
  top: 60px;
  height: 180px;
  font-size: 24px;
  margin-top: 20px;
  color: #16425b;
}

#open-language-bar {
  height: 60px;
  font-size: 20px;
}
