.language-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  list-style: none;
  font-weight: normal;
  font-family: 'Arial', sans serif;;
  color: #003D74;
  border-color: none;
  text-shadow:  -0.1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 200;
  &:hover {
    background-color: rgba(250, 255, 0, 1);
    border-radius: 4px;
  }
  &:hover {
    cursor: pointer;
  }
}

.language-bar.active {
  display: none;
}

.language-bar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  &:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  color: #003D74;
  }
}

.language-choice,
#open-language-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(220, 225, 50, 1);
  width: 60px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.language-choice {
  position: absolute;
  top: 60px;
  height: 180px;
  font-size: 24px;
  margin-top: 20px;
  color: #003D74;

}

#open-language-bar {
  height: 60px;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .language-bar {
    top: 16px;
    right: 16px;
    font-weight: normal;
  }

  .language-bar a {
    font-size: 16px;
    width: 40px;
    height: 40px;
  }

  .language-choice,
  #open-language-bar {
    width: 40px;
  }

  .language-choice {
    position: absolute;
    top: 40px;
    height: 120px;
    font-size: 16px;
    margin-top: 20px;
  }

  #open-language-bar {
    height: 40px;
    font-size: 16px;
  }
}
