#page-3-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4vh;
}

#page-5-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 6vh;

  p {
    font-size: 2.4vh;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 8vh;
  }
}

#top-text-without-title {
  padding-top: 2vh;
}

#block-quote-top {
  padding-top: 4vh;
}

.content-image {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  height: 100%;
  }
}
