* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "config/fonts";
@import "config/colors";
@import "pages/index";
@import "components/index";


// external links
@import "font-awesome-sprockets";
@import "font-awesome";
