* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    background: hsla(90, 53%, 22%, 1);

}

@import "config/fonts";
@import "config/colors";
@import "pages/index";
@import "components/index";


// external links
@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');

:root {
  /* colors */
  --body-bg: #FAFAFA;
  --page-bg: #F5F5F5;
  --dark-text: #2A2935;

  /* spacing */
  /* this is what defines the global scale */
  --baseline: 12px;

  /* fonts */
  --book-title: 'Tulpen One', sans-serif;
  --title: 'Cormorant Garamond', serif;
  --body: 'Cormorant Garamond', serif;
  --base-size: var(--baseline) * 1.2;
}


body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsla(90, 53%, 22%, 1);
  background: linear-gradient(90deg, hsla(90, 53%, 22%, 1) 0%, hsla(208, 100%, 23%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(90, 53%, 22%, 1) 0%, hsla(208, 100%, 23%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(90, 53%, 22%, 1) 0%, hsla(208, 100%, 23%, 1) 100%);
  overflow: hidden;
  position: relative;
  @-moz-document url-prefix() {
    overflow-y: auto;
    height: auto;
  }
}

.cover {
  width: 124vh;
  height: 84vh;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, .8);
    @-moz-document url-prefix() {
    width: 66vh;
    height: 90vh;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #F5F5F5;
  }
}

.book__page-sheets.active {

  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);

  transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    @-moz-document url-prefix() {
      transition: none;
      transform: none;
    }
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 1200px;
  position: relative;
  z-index: 1;

  @-moz-document url-prefix() {
    flex-direction: column;
    overflow-x: hidden;
  }

  &__page {
    position: relative;
    width: 50%;
    height: 100%;
    display: grid;

    transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);

    transition: rotateY(0deg);
      -webkit-transition: rotateY(0deg);
      -moz-transition: rotateY(0deg);
      -o-transition: rotateY(0deg);
      transition: rotateY(0deg);

    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
      -webkit-transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
      -moz-transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);

    transform-origin: 0% 0%;
      -webkit-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;

    @-moz-document url-prefix() {
      transition: none;
      transform: none;
      transform-origin: none;
      width: 100%;
      cursor-event: none;
      cursor: default;
      display: flex;
    }

    background-color: var(--page-bg);
    background-image: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);

    &:nth-of-type(1) {
      background-image: linear-gradient(-90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);
    }

    &--1 {
      overflow: hidden;

      @-moz-document url-prefix() {
        overflow: auto;
        display: none;
      }
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }

    &-sheets {
      position: absolute;
      right: 0;
      cursor: pointer;

      transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
      background-color: var(--page-bg);
      background-image: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);
      @-moz-document url-prefix() {
      transition: none;
      transform: none;
      cursor-event: none;
      cursor: default;
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: none;
      background-image: none;
      }
    }

    &--4 {
      padding: 0 calc(var(--baseline) * 3);
      @-moz-document url-prefix() {
        cursor-event: none;
        cursor: default;
        position: relative;
        display: none;
      }
    }

    &-front {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotateY(0deg) translateZ(1px);
      display: block;
      z-index: inherit;

      @-moz-document url-prefix() {
        transform: none;
        cursor-event: none;
        cursor: default;
        position: relative;
        display: flex;
        height: 90vh;
        width: 66vh;
        display: flex;
      }
    }

    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 calc(var(--baseline) * 1.8);
      z-index: inherit;
      transform: rotateY(180deg) translateZ(1px);
        -webkit-transition: rotateY(180deg) translateZ(1px);
        -o-transition: rotateY(180deg) translateZ(1px);
        transition: rotateY(180deg) translateZ(1px);

      @-moz-document url-prefix() {
        transform: none;
        cursor-event: none;
        cursor: default;
        position: relative;
        display: flex;
        width: 66vh;
        height: 90vh;
        background-color: #D3D7CF;
      }
    }

    .page__content {
      padding: var(--baseline);
      height: 100%;
      position: relative;
      text-align: center;
      z-index: inherit;

      @-moz-document url-prefix() {
        width: 66vh;
        height: 90vh;
        margin-bottom: 40px;
      }
      &-book-title {
        font-family: var(--book-title);
        font-size: 6vh;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: var(--dark-text);
        margin-top: 4vh;
        margin-bottom: 4vh;
      }

      &-author {
        font-family: var(--title);
        font-size: 2vh;
        font-weight: 100;
        text-transform: uppercase;
        color: var(--dark-text);
        border-top: 1px solid var(--dark-text);
        border-bottom: 1px solid var(--dark-text);
        display: inline-block;
        padding: calc(var(--baseline) / 2) calc(var(--baseline) / 5);
        margin-bottom: 4vh;
      }

      &-credits {
        font-family: var(--title);
        text-transform: uppercase;
        font-size: 2vh;
        margin-bottom: 2vh;
        letter-spacing: 1px;

        span {
          display: block;
          font-size: 3vh;
          letter-spacing: 0;
        }

        img {
          width: 50%;
          height: auto;
          margin-top: 4vh;
        }
      }

      &-copyright {
        position: absolute;
        width: calc(100% - (var(--baseline) * 2));
        bottom: calc(var(--baseline) * 2);
        font-family: var(--title);
        font-size: 2vh;
        text-transform: uppercase;
      }

      &-title {
        font-family: var(--title);
        font-size: calc(var(--base-size) * 1);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: calc(var(--baseline) * 5);
        margin-bottom: calc(var(--baseline) * 3);
      }

      &-table {
        width: 100%;
        margin-top: calc(var(--baseline) * 2);

        td {
          font-family: var(--title);
          font-size: calc(var(--base-size) * 1);
          padding-bottom: calc(var(--baseline) * 1.5);
          text-transform: uppercase;
        }
      }

      &-blockquote {
        margin-bottom: calc(var(--baseline) * 2);
      }

      &-blockquote-text {
        font-family: var(--title);
        font-size: calc(var(--base-size) * 0.96);
        font-style: italic;
        text-align: justify;
      }

      &-blockquote-reference {
        font-family: var(--title);
        font-size: calc(var(--base-size) * 0.7);
        margin-top: calc(var(--baseline) * 0.3);
        float: right;
        text-transform: uppercase;
      }

      &-text {
        font-family: var(--title);
        font-size: calc(var(--base-size) * 0.96);
        text-align: justify;
        text-indent: var(--baseline);
      }
    }
    .page__number {
      position: absolute;
      bottom: var(--baseline);
      width: calc(100% - (var(--baseline) * 2));
      font-family: var(--title);
      font-size: calc(var(--base-size) * 1.20);
      text-align: center;
    }
  }
}

// MOBILE VERSION //

@media only screen and (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: auto;
  }

  .cover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .8);
    width: 66vh;
    height: 90vh;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
  }

  .book__page-sheets.active {
    transition: none;
    transform: none;
  }

  .book {
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 1200px;
    position: relative;
    z-index: 1;
    flex-direction: column;
    overflow-x: hidden;

    &__page {
      position: relative;
      transition: none;
      transform: none;
      transform-origin: none;
      width: 100%;
      height: auto;
      cursor-event: none;
      cursor: default;
      height: auto;
      display: flex;

      &--1 {
          display: none;
      }

      &-sheets {
        transition: none;
        transform: none;
        cursor-event: none;
        cursor: default;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: none;
        background-image: none;
      }

      &--4 {
          cursor-event: none;
          cursor: default;
          position: relative;
          display: none;
      }

      &-front {
          transform: none;
          cursor-event: none;
          cursor: default;
          position: relative;
          display: flex;
          height: 90vh;
          width: 66vh;
          display: flex;
      }

      &-back {
        padding: 0 calc(var(--baseline) * 1.8);
        transform: none;
        cursor-event: none;
        cursor: default;
        position: relative;
        display: flex;
        width: 66vh;
        height: 90vh;
        background-color: #D3D7CF;
      }

      .page__content {
        padding: var(--baseline);
        position: relative;
        text-align: center;
        z-index: inherit;
        width: 66vh;
        height: 90vh;
        margin-bottom: 40px;

        &-book-title {
          font-family: var(--book-title);
          font-size: 6vh;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 3px;
          color: var(--dark-text);
          margin-top: 4vh;
          margin-bottom: 4vh;
        }

        &-author {
          font-family: var(--title);
          font-size: 2vh;
          font-weight: 100;
          text-transform: uppercase;
          color: var(--dark-text);
          border-top: 1px solid var(--dark-text);
          border-bottom: 1px solid var(--dark-text);
          display: inline-block;
          padding: calc(var(--baseline) / 2) calc(var(--baseline) / 5);
          margin-bottom: 4vh;
        }

        &-credits {
          font-family: var(--title);
          text-transform: uppercase;
          font-size: 2vh;
          margin-bottom: 2vh;
          letter-spacing: 1px;

          span {
            display: block;
            font-size: 3vh;
            letter-spacing: 0;
          }

          img {
            width: 50%;
            height: auto;
            margin-top: 4vh;
          }
        }

        &-copyright {
          position: absolute;
          width: calc(100% - (var(--baseline) * 2));
          bottom: calc(var(--baseline) * 2);
          font-family: var(--title);
          font-size: 2vh;
          text-transform: uppercase;
        }

        &-title {
          font-family: var(--title);
          font-size: calc(var(--base-size) * 1);
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-top: calc(var(--baseline) * 5);
          margin-bottom: calc(var(--baseline) * 3);
        }

        &-table {
          width: 100%;
          margin-top: calc(var(--baseline) * 2);

          td {
            font-family: var(--title);
            font-size: calc(var(--base-size) * 1);
            padding-bottom: calc(var(--baseline) * 1.5);
            text-transform: uppercase;
          }
        }

        &-blockquote {
          margin-bottom: calc(var(--baseline) * 2);
        }

        &-blockquote-text {
          font-family: var(--title);
          font-size: calc(var(--base-size) * 0.96);
          font-style: italic;
          text-align: justify;
        }

        &-blockquote-reference {
          font-family: var(--title);
          font-size: calc(var(--base-size) * 0.7);
          margin-top: calc(var(--baseline) * 0.3);
          float: right;
          text-transform: uppercase;
        }

        &-text {
          font-family: var(--title);
          font-size: calc(var(--base-size) * 0.96);
          text-align: justify;
          text-indent: var(--baseline);
        }
      }
      .page__number {
        position: absolute;
        bottom: var(--baseline);
        width: calc(100% - (var(--baseline) * 2));
        font-family: var(--title);
        font-size: calc(var(--base-size) * 1.20);
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .cover {
    width: 100vw;
    height: 88vh;
  }

  .book {
    width: 100%;
    height: 100%;

    &__page {
      width: 100%;
      height: auto;


      &-front {
        width: 100vw;
        height: 88vh;
      }

      &-back {
        width: 100vw;
        height: 88vh;
      }

      .page__content {
        width: 100vw;
        height: 88vh;
    }
  }
}
}
